.link {
    display: inline-block;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    font-weight: 700;
    color: #2a363b;
    margin: 0 40px;
}

.link.active {
    color: #5736A3;
}
header {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 16px;
    border-bottom: 1px solid #5736A3;
}
.linkWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}